<h3 class="no-margin light">Datenschutzrichtlinie</h3>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Einleitung</h4>
<h4 style="margin-top: 10px;">Wir schützen Ihre persönlichen Daten und erklären hier, welche Informationen wir sammeln, wie wir sie nutzen und schützen.</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Gesammelten Daten</h4>
<h4 style="margin-top: 10px;">Name, E-Mail, Nutzer-generierte-Inhalte</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Verwendungszwecke</h4>
<h4 style="margin-top: 10px;">Bereitstellung unserer Dienste und Analyse der Webseitennutzung</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Weitergabe an Dritte</h4>
<h4 style="margin-top: 10px;">Daten werden nur an Dritte weitergegeben, wenn gesetzlich vorgeschrieben. Ansonsten sind wir zur Vertraulichkeit verpflichtet.</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Ihre Rechte</h4>
<h4 style="margin-top: 10px;">Auskunft, Berichtigung, Löschung & Datenexport</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Rechtsgrundlagen der Datenverarbeitung</h4>
<h4 style="margin-top: 10px;">Einwilligung (Art. 6 Abs. 1 lit. a DSGVO)<br><br>Vertragserfüllung (Art. 6 Abs. 1 lit. b DSGVO)</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Kontakt</h4>
<h4 style="margin-top: 10px;">Bei Fragen zum Datenschutz: 09_milieu_elite@icloud.com</h4>
