<h3 class="no-margin light" style="margin-bottom: 20px">Gruppe Erstellen</h3>

<h3>Gruppentitel</h3>
<textarea id="group-add-title" autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" style="pointer-events: all;" placeholder="Gruppentitel eingeben..."></textarea>

<h3>Beschreibung</h3>
<textarea id="group-add-info" autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" style="pointer-events: all;" placeholder="Beschreibung eingeben..."></textarea>

<div class="space74"></div>

<h3 class="no-margin light" style="margin-bottom: 20px">Organisator Festlegen</h3>

<h3>Vorname</h3>
<textarea id="group-add-oa-first-name" autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" style="pointer-events: all;" placeholder="Vorname eingeben..."></textarea>

<h3>Nachname</h3>
<textarea id="group-add-oa-last-name" autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" style="pointer-events: all;" placeholder="Nachname eingeben..."></textarea>

<h3>E-Mail-Adresse</h3>
<textarea id="group-add-oa-email-address" autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" style="pointer-events: all;" placeholder="E-Mail-Adresse eingeben..."></textarea>

<div class="space74"></div>
<div class="default-button" onclick="confirmAddGroupData()">Gruppe erstellen</div>