<h2 id="homeDisplayName" class="no-margin"></h2>
<h3 id="homeDisplayUsername" class="no-margin"></h3>

<h3>Gesellschaftlich</h3>

<div class="button-icon" onmouseup="internAlert('Steckbriefe sind noch im Aufbau')">
    <img class="button-image" src="images/icons/characteristics_selected.svg" alt="">
    <div class="button-textcontent">
        <div class="button-title">Steckbriefe</div>
        <div class="button-subtitle"></div>
    </div>
    <div class="button-sidenote">
        <div class="button-sidenote-textcontent"></div>
    </div>
</div>

<h3>Beiträge</h3>

<div class="button-icon-container">
    <div class="button-icon" onmouseup="navigate('quotes', 'crossfade', false)">
        <img class="button-image" src="images/icons/quotes_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title">Zitate</div>
        </div>
    </div>

    <div class="button-icon" onmouseup="internAlert('Beichten sind noch im Aufbau')">
        <img class="button-image" src="images/icons/confessions_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title">Beichten</div>
        </div>
    </div>

    <div class="button-icon" onmouseup="internAlert('Storys sind noch im Aufbau')">
        <img class="button-image" src="images/icons/storys_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title">Storys</div>
        </div>
    </div>
</div>

<h3>Interaktiv</h3>

<div class="button-icon-container">
    <div class="button-icon" onmouseup="internAlert('Umfragen sind noch im Aufbau')">
        <img class="button-image" src="images/icons/surveys_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title">Umfragen</div>
        </div>
    </div>

    <div class="button-icon" onmouseup="internAlert('Abstimmungen sind noch im Aufbau')">
        <img class="button-image" src="images/icons/polls_seleted.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title">Abstimmungen</div>
        </div>
    </div>

    <div class="button-icon" onmouseup="internAlert('Rankings sind noch im Aufbau')">
        <img class="button-image" src="images/icons/rankings_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title">Rankings</div>
        </div>
    </div>
</div>

<div id="mod" style="display: none;">
    <h3>Moderation</h3>

    <div class="button-icon-container condenced">
        <div class="button-icon" onmouseup="navigate('ua-overview', 'crossfade', false)">
            <img class="button-image" src="images/icons/group.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Benutzer</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/characteristics.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Steckbriefe</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/quotes.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Zitate</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/confessions.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Beichten</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/storys.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Storys</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/surveys.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Umfragen</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/polls.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Abstimmungen</div>
            </div>
        </div>

        <div class="button-icon">
            <img class="button-image" src="images/icons/rankings.svg" alt="">
            <div class="button-textcontent">
                <div class="button-title">Rankings</div>
            </div>
        </div>
    </div>

</div>

<h3>Weiteres</h3>
<div class="default-button" onmouseup="ausloggen()">Ausloggen</div>
<div class="default-button" onmouseup="internAlert('Noch nicht verfügbar')">Passwort Ändern</div>