<h2 style="margin-top: 0;" id="loginDisplayGroupTitle">Abi 2025</h2>
<h3 id="loginDIsplayGroupInfo" class="no-margin">Abitur am Humboldt-Gymnasium 2025</h3>

<h3>Benutzername</h3>
<textarea autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" id="loginUsername" style="pointer-events: all;" placeholder="Gib hier deinen Benutzernamen ein..."></textarea>

<h3>Passwort</h3>
<textarea autocomplete="0ff" autocorrect="off" spellcheck="off" autocapitalize="off" class="auto-resize" name="" id="loginPassword" style="pointer-events: all;" placeholder="Gib hier dein Passwort ein..."></textarea>
