<div id="chat0">
    <h2 id="hidden" style="margin: 0 0 74px 0; display: none;"></h2>
</div>

<div id="chat1">
    <h3 class="no-margin">Herzlich Willkommen</h3>
    <h2 style="margin: 0;" id="loginlink_first_name"></h2>
</div>

<div class="space74"></div>

<div id="chat2">
    <h4 class="right">Einladung</h4>
    <h2 class="no-margin right" id="loginlink_title"></h2>
    <h3 class="no-margin right" id="loginlink_info"></h3>
</div>

<div class="space74"></div>

<div id="chat3">
    <h4 class="">Das hier ist dein</h4>
    <h3 class="no-margin light">Schulzeit Archiv</h3>
</div>

<div class="space74"></div>

<div id="chat4">
    <div style="height: 170px;">
        <div class="animatebubble" style="margin: none; animation-delay: -5s;">Zitieren</div>
        <div class="animatebubble" style="margin: none; animation-delay: -4s;">Berichten</div>
        <div class="animatebubble" style="margin: none; animation-delay: -3s;">Gestehen</div>
        <div class="animatebubble" style="margin: none; animation-delay: -2s;">Abstimmen</div>
        <div class="animatebubble" style="margin: none; animation-delay: -1s;">Erstellen</div>
    </div>
    <h4 class="right" style="margin-top: 10px;">Und vieeeles mehr...</h4>
</div>


<!-- <div class="space74"></div>

<div id="chat5">
    <h2 class="no-margin">Sicherheit 🔒</h2>
    <h3 class="no-margin">Zitate, Beichten und Storys sind zu 100% Anonym</h3>
</div> -->

<div class="space74"></div>

<div id="chat5">
<div class="default-button" onclick="navigate('privatsphäre', 'crossfade', false)" style="margin-top: 10px; opacity: .5;">Privatsphäre</div>
<div class="default-button" onclick="navigate('datenschutzrichtlinie', 'crossfade', false)" style="margin-top: 10px; opacity: .5;">Datenschutzrichtlinie</div>
<div class="default-button" onclick="continueToStep2()" style="margin-top: 10px;">Schritt 1</div>
</div>
