<h3 class="no-margin light">Privatsphäre</h3>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Definition Anonym</h4>
<h4 style="margin-top: 10px;">Anonym bedeutet, dass die Identität einer Person unbekannt bleibt und nicht gespeichert wird. Niemand wird erkennen können, wer was gemacht hat.</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Definition Pseudonym</h4>
<h4 style="margin-top: 10px;">Bei pseudonymen Aktivitäten wird Ihre Identität zwar gespeichert, aber nicht preisgegeben. Dies ist beispielsweise notwendig, um zu speichern, wer wo bereits abgestimmt hat.</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Was ist Anonym?</h4>
<h4 style="margin-top: 10px;">Zu 100% Anonym sind…
    <br>… Beichten
    <br>… Storys
    <br>… Zitate</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Was ist Pseudonym?</h4>
<h4 style="margin-top: 10px;">Pseudonym sind…
    <br>… Abstimmungen
    <br>… Rankings
    <br>… Umfragen</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Steckbriefe</h4>
<h4 style="margin-top: 10px;">Jeder wird die Bilder und angaben in deinem Steckbrief sehen können, jedoch können nur die von dir Ausgewählten Personen diesen Steckbrief bearbeiten</h4>

<div class="space74"></div>

<h4 style="margin-top: 10px;" class="light">Kontakt</h4>
<h4 style="margin-top: 10px;">Bei Fragen zur Privatsphäre: 09_milieu_elite@icloud.com</h4>
