<div style="height: 47px;"> <div class="loadbar"></div> </div>

<div class='space74'></div>
<h3 class='notop'>Berechtigungen</h3>
<div style="height: 30px;"> <div class="loadbar"></div> </div>
<div class='default-button' style='margin-top: 20px;' onclick='internAlert("Lädt...")'>Zum Admin machen</div>
<div class='default-button' onclick='internAlert("Lädt...")'>Loginlink Kopieren</div>

<h3 class='light'>Konto Bearbeiten</h3>

<div class='input-grid'>

    <div>
        <h3 class='condenced'>Vorname</h3>
        <div style="height: 86px;"> <div class="loadbar"></div> </div>

    </div>

    <div>
        <h3 class='condenced' class='condenced'>Nachname</h3>
        <div style="height: 86px;"> <div class="loadbar"></div> </div>

    </div>

    <div>
        <h3 class='condenced'>Benutzername</h3>
        <div style="height: 86px;"> <div class="loadbar"></div> </div>

    </div>

    <div>
        <h3 class='condenced'>Voreingestelltes Passwort</h3>
        <div style="height: 86px;"> <div class="loadbar"></div> </div>

    </div>
</div>




<h3>Logindaten</h3>
<div class='input-grid'>

<div class='default-button' onclick='internAlert("Lädt...")'>Loginlink Kopieren</div>
<div class='default-button' onclick='internAlert("Lädt...")'>Logindaten Kopieren</div>
<div class='default-button red' onclick='internAlert("Lädt...")'>Passwort Zurücksetzen</div>
<div class='default-button red' onclick='internAlert("Lädt...")'>Konto Löschen</div>
</div>