<h3 style="margin-top: 0;">Benutzerkonten</h3>

<div class="button-icon-container wide" id="ua-container">

    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
    <div class="button-icon" onmouseup="internAlert('Lädt...')">
        <img class="button-image" src="images/icons/profile_selected.svg" alt="">
        <div class="button-textcontent">
            <div class="button-title"><div class="loadbar"></div></div>
            <div class="button-subtitle" style="margin-top: 12px;"><div class="loadbar"></div></div>
        </div>
    </div>
</div>