h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}


body {
    background-color: #ffffff;
    color: rgb(114, 114, 114);
}

input {
    border: 1px solid black;
    padding: 4px;
    border-radius: 8px;
}

.submit {
    background-color: dodgerblue;
    color: white;
}